:root {
    --cor-de-fundo:#2c0d9c;
    --cor-cabecalho: #ffffff;
    --fundo-menu: #022e81;

}

body {
    background-color: var(--cor-de-fundo);
}
.cabecalho{
    background-color:var(--cor-cabecalho);

}
.cabecalho-titulo{
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}
.cabecalho-menu{
    background-color: var(--fundo-menu);
}
.cabecalho-menu-item {
display: block;
padding: 10px;
font-size: 24px;
text-decoration: none;
color: black;
text-align: center;
border-top: 1px solid;
}

.cabecalho-img {
    width: 80px;
}